<header class="header__container">
  <div class="header__info">
    <div class="header__info__offer">
      <p>
        New Offers This Weekend only to <span class="highlight-text">Get 50%</span> Flate
      </p>
    </div>
    <div class="header__info__location">
      <p>
        <i class="fas fa-map-marker-alt"></i> Location
      </p>
    </div>
    <div class="header__info__phone">
      <p>
        <i class="fas fa-headphones"></i> (+048) - 1800 33 689
      </p>
    </div>
  </div>
  <div class="header__content">
    <div class="header__content__logo">
      <img src="assets/footer/logo.svg" alt="Logo" />
    </div>
    <div class="header__content__navigation">
      <div class="content__navigation__search">
        <form autocomplete="off" class="search__form">
          <input
            type="text"
            class="search__form__input"
            placeholder="Search among 100,000 products..."
          />
          <button type="button" class="search__form_btn">Search</button>
        </form>
      </div>
      <div class="content__navigation__action">
        <div class="navigation__action__login">
          <span class="action__icon">
            <i class="far fa-user"></i>
          </span>
          <p class="action__login__text">
            Login <span class="highlight-text">or</span> Register
          </p>
          <div class="action__login__form">
            <div class="login__form__header">
              <span class="login__form__header--left">Sign In</span>
              <span class="login__form__header--right">
                <a routerLink="#">Create an Account</a>
              </span>
            </div>
            <form class="login__form">
              <div class="login__form__username">
                <label for="username">Username or email <span class="required">*</span></label>
                <input
                  id="username"
                  name="username"
                  type="text"
                  placeholder="Username"
                >
              </div>
              <div class="login__form__password">
                <label for="password">Password <span class="required">*</span></label>
                <input
                  id="password"
                  name="password"
                  type="password"
                  placeholder="Password"
                >
              </div>
              <div class="login__form__action">
                <button type="button">LOGIN</button>
              </div>
            </form>
            <div class="login__form__footer">
              <p>
                <a routerLink="#">Lost your password?</a>
              </p>
            </div>
          </div>
        </div>
        <div class="navigation__action__wishlist">
          <span class="action__icon">
            <i class="far fa-heart"></i>
          </span>
          <span class="notification">0</span>
        </div>
        <div class="navigation__action__cart">
          <span class="action__icon">
            <i class="fas fa-shopping-cart"></i>
          </span>
          <span class="notification">0</span>
          <span class="action__price">$0.00</span>
        </div>
      </div>
      <div class="content__navigation__nav">
        <ul class="nav__list">
          <li class="nav__list--item">
            <a routerLink="#">Home</a>
          </li>
          <li class="nav__list--item">
            <a routerLink="#">Shop</a>
          </li>
          <li class="nav__list--item">
            <a routerLink="#">Pages</a>
          </li>
          <li class="nav__list--item">
            <a routerLink="#">Blog</a>
          </li>
          <li class="nav__list--item">
            <a routerLink="#">On Sale</a>
          </li>
          <li class="nav__list--item">
            <a routerLink="/about-us">About Us</a>
          </li>
          <li class="nav__list--item">
            <a routerLink="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
