<header class="header-medium__container">
  <div class="nav-bar__medium__bg"></div>
  <div class="header-medium__logo">
    <img src="assets/footer/logo.svg" alt="Logo" />
  </div>
  <div class="header-medium__action">
    <i class="fas fa-bars nav__bar-right__click"></i>
  </div>
  <div class="header-medium__navigation">
    <div class="navigation__header">
      <span>
        CLOSE &nbsp;<i class="fas fa-times"></i>
      </span>
    </div>
    <div class="navigation__body">
      <ul class="navigation__body__list">
        <li class="navigation__body__list--item">
          <a routerLink="#">Home</a>
        </li>
        <li class="navigation__body__list--item">
          <a routerLink="#">Shop</a>
        </li>
        <li class="navigation__body__list--item">
          <a routerLink="#">Pages</a>
        </li>
        <li class="navigation__body__list--item">
          <a routerLink="#">Blog</a>
        </li>
        <li class="navigation__body__list--item">
          <a routerLink="#">On Sale</a>
        </li>
        <li class="navigation__body__list--item">
          <a routerLink="#">About Us</a>
        </li>
        <li class="navigation__body__list--item">
          <a routerLink="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>
