#root {
  width: 100%;
  height: 100%;
  //margin: 2rem auto;
}

@media screen and (max-width: 1200px){
  #root {
    //max-width: 100%;
    max-width: 95%;
    margin: 2rem auto;
  }
}

@media screen and (max-width: 992px){
  #root {
    //max-width: 90vw;
    margin: 2rem auto;
  }
}

@media screen and (max-width: 768px){
  #root {

  }
}

.root--translate {
  transform: translateX(30%);
  transition: .4s;
}
