<div class="banner__story__container">
  <div class="banner__story__img">
    <img src="assets/home/elementor/bg_992.jpg" alt="Banner"/>
  </div>
  <div class="banner__story__text">
    <div class="story__text__title-normal">
      <h2>OUR STORIES</h2>
    </div>
    <div class="story__text__content">
      <div class="text__content__title">
        <h2>We Are Healthy Food Organic.</h2>
      </div>
      <div class="text__content__paragraph">
        <p>
          We’ve recently updated our entire product portfolio to give
          customers and partners the best products with the newest technology.
        </p>
      </div>
      <div class="text__content__logo">
        <img src="assets/home/elementor/efway_logo.png" alt="Logo"/>
      </div>
    </div>
  </div>
</div>
