<div class="medium__banner__container">
  <div class="medium__banner">
    <div class="medium__banner__bg--img">
      <div class="medium__banner__bg-color"></div>
      <img src="assets/home/background/bg-home-widget-article_2.jpg" alt="Banner 2"/>
    </div>
    <div class="medium__banner__content">
      <div class="banner__content__header">
        <h1 class="first__header__color">Fast Food recipes</h1>
      </div>
      <div class="banner__content__paragraph">
        <p>
          Fresh, nourishing and always delicious.
          Check out our favourite recipes for a fruity revival.
        </p>
      </div>
      <div class="banner__content__action">
        <button>View Recipes</button>
      </div>
    </div>
  </div>
  <div class="medium__banner">
    <div class="medium__banner__bg--img">
      <img class="flip__img" src="assets/home/background/bg-home-widget-article_3.jpg" alt="Banner 1"/>
    </div>
    <div class="medium__banner__content">
      <div class="banner__content__header">
        <h1 class="second__header__color">Our Drinks</h1>
      </div>
      <div class="banner__content__paragraph">
        <p>
          To create the perfect juice nature does all the work.
        </p>
      </div>
      <div class="banner__content__action">
        <button>See Our Range</button>
      </div>
    </div>
  </div>
</div>
