<div class="about-us__client__container">
  <div class="about-us__client__header">
    <h1><span class="highlight-text">CLIENT</span> SAYS</h1>
    <p>
      Cras mattis consectetur purus sit amet fermentum.
      Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
    </p>
  </div>
  <div class="about-us__client__content">
    <div class="client__content__left">
      <img src="/assets/about-us/client.png" alt="Client"/>
    </div>
    <div class="client__content__right">
      <div class="content__right__text">
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium oloremque laudantium
          totam rem aperiam eaque ipsa quae inventore veritatis architecto
        </p>
      </div>
      <div class="content__right__person">
        <div class="right__person__avatar">
          <img src="assets/about-us/client-avatar_3.jpg" alt="avatar"/>
          <span class="avatar__quote"><i class="fas fa-quote-right"></i></span>
        </div>
        <div class="right__person__info">
          <span class="info__name">Jane Gray</span>
          <span class="info__job">Ceo & co</span>
        </div>
      </div>
    </div>
  </div>
</div>
